$font-size: 12px;

html, body {
  height: 100%;
}

body {
  font-size: $font-size;
  background-color: #ffffff;
  font-family: Arial, SansSerif, Helvetica;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

h1, h3 {
  color: #202d3d;
  font-family: "Roboto Condensed";
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #425363;
}

h3 {
  font-size: 24px;
}

p {
  color: #9a9aa6;
  font-family: "Roboto Condensed";
}

.btn {
  -webkit-appearance: none;
  padding: .5rem 1rem;
}

.btn-dark {
  color: #ffffff;
  background-color: #202d3d;
  border: solid 1px #202d3d;
}

.main-header {
  position: fixed;
  height: 103px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .menu-btn-label {
    margin-left: 1rem;
  }

  .reserve-link {
    margin-right: 1rem;
  }

  .main-navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      flex: 0 0 50px;
    }
  }

  .menu-btn-label {
    cursor: pointer;

    input {
      display: none;
    }

    .menu-btn-icon-wrapper {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: relative;

      .center {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #202d3d;
      }

      &:before {
        content: " ";
        width: 100%;
        background-color: #202d3d;
        height: 2px;
        position: absolute;
        top: 30%;
        left: 0;
      }

      &:after {
        content: " ";
        width: 100%;
        background-color: #202d3d;
        height: 2px;
        position: absolute;
        bottom: 27%;
        left: 0;
      }
    }



    input:checked ~ .menu-btn-icon-wrapper .center {
      display: none;
    }

    input:checked ~ .menu-btn-icon-wrapper:before {
      transform: rotate(45deg);
      top: 50%;
    }

    input:checked ~ .menu-btn-icon-wrapper:after {
      transform: rotate(135deg);
      bottom: 47%;
    }
  }
}

.divider-top {
  border-top: solid 5px #e2e2e2;
}

.divider-bottom {
  border-bottom: solid 5px #e2e2e2;
}

.style-type-none {
  list-style-type: none;
}

.main-navigation {
  display: flex;
  align-content: center;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #202e39;

  &:hover {
    text-decoration: underline;
  }
}

.reserve-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #202e39;
  border: solid 1px #202e39;
  padding: 10px;

  &:hover {
    background-color: #dedede;
  }
}

.grid {
  display: grid;
}

.grid-cell-1 {}
.grid-cell-2 {}
.grid-cell-3 {}
.grid-cell-4 {}
.grid-cell-5 {}
.grid-cell-6 {}
.grid-cell-7 {}
.grid-cell-8 {}
.grid-cell-9 {}
.grid-cell-10 {}
.grid-cell-11 {}
.grid-cell-12 {}
.grid-cell-13 {}
.grid-cell-14 {}
.grid-cell-15 {}
.grid-cell-16 {}
.grid-cell-17 {}
.grid-cell-18 {}
.grid-cell-19 {}
.grid-cell-20 {}

.main-footer {
  height: 400px;
}

.main-content {
  padding-top: 108px;
  
  .image-1 {
    background-image: url("./images/1.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .image-2 {
    background-image: url("./images/2.jpg");
  }

  .image-3 {
    background-image: url("./images/3.jpg");
  }

  .image-4 {
    background-image: url("./images/4.jpg");
  }

  .image-5 {
    background-image: url("./images/5.jpg");
  }

  .image-6 {
    background-image: url("./images/6.jpg");
  }

  .image-7 {
    background-image: url("./images/7.jpg");
  }

  .image-8 {
    background-image: url("./images/8.jpg");
  }

  .image-9 {
    background-image: url("./images/9.jpg");
  }

  .image-10 {
    background-image: url("./images/10.jpg");
  }

  .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10 {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    grid-template-columns: auto;
  }
  .main-section-image {
    height: 280px;
  }

  .section-image {
    height: 212px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section-image {
    height: 435px;
  }

  .section-image {
    height: 212px;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    margin: 0 auto;
    grid-template-columns: 16% 8% 8% 16% 16% 8% 8% 16%;
    grid-column-gap: 0.5%;
  }

  .main-section-image {
    height: 633px;
  }

  .section-image {
    height: 589px;
  }

  .section-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 10;
  }

  .section-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
  }

  .section-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
  }

  .section-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;

    .section-image {
      height: 455px;
    }
  }

  .section-5 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;

    .section-image {
      height: 455px;
    }
  }

  .section-6 {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 4;

    &.section-image {
      height: 580px;
    }
  }

  .section-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
  }

  .section-8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
  }

  .section-9 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
  }

  .section-10 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 5;
  }

  .section-8, .section-9, .section-10 {
    .section-image {
      height: 314px;
    }
  }

  .section-11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
  }

  .section-12 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 6;
  }

  .section-11, .section-12 {
    .section-image {
      height: 455px;
    }
  }
}
