$font-size: 10px;
$divider-color: #e2e2e2;
$header-font-color: #202D3A;

html, body {
  height: 100%;
}

body {
  font-size: $font-size;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4.5em;
  margin-bottom: 5px;
}

h1, h3 {
  color: #202D3A;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  color: #425363;
}

h3 {
  font-size: 3.4em;
}

p {
  color: #93949D;
  font-size: 1.2*$font-size;
}

article {
  padding: 1.9em;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  -webkit-appearance: none;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-dark {
  color: #ffffff;
  background-color: #202d3d;
  border: solid 1px #202d3d;
}

.calendar-area {
  display: flex;
  align-items: center;

  .calendar-wrapper {
    display: grid;
    grid-gap: 14px;

    .date-wrapper {
      display: grid;
      grid-gap: 14px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.btn-date {
  background-color: #859BB0;
  color: #425363;
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 12px;

  .action {
    text-transform: uppercase;
  }

  .date {
    color: #202D3A;
    font-size: 55px;
  }

  .month {
    text-transform: uppercase;
  }
}

.main-header {
  position: fixed;
  height: 98px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .menu-btn-label {
    margin-left: 1rem;
  }

  .reserve-link {
    margin-right: 1rem;
  }

  .main-navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      flex: 0 0 50px;
    }
  }

  .menu-btn-label {
    cursor: pointer;

    input {
      display: none;
    }

    .menu-btn-icon-wrapper {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: relative;

      .center {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #202d3d;
      }

      &:before {
        content: " ";
        width: 100%;
        background-color: #202d3d;
        height: 2px;
        position: absolute;
        top: 30%;
        left: 0;
      }

      &:after {
        content: " ";
        width: 100%;
        background-color: #202d3d;
        height: 2px;
        position: absolute;
        bottom: 27%;
        left: 0;
      }
    }

    input:checked ~ .menu-btn-icon-wrapper .center {
      display: none;
    }

    input:checked ~ .menu-btn-icon-wrapper:before {
      transform: rotate(45deg);
      top: 50%;
    }

    input:checked ~ .menu-btn-icon-wrapper:after {
      transform: rotate(135deg);
      bottom: 47%;
    }
  }
}

.divider {
  height: 5px;
  background-color: #e2e2e2;
}

.divider-bottom {
  border-bottom: solid 5px #e2e2e2;
}

.divider-top {
  border-top: solid 5px #e2e2e2;
}

.style-type-none {
  list-style-type: none;
}

.main-navigation {
  display: flex;
  align-content: center;
}

.nav-link, .reserve-link, .more-link {
  text-decoration: none;
}

.nav-link {
  text-transform: uppercase;
  color: #202D3A;
  font-size: 1.3em;

  &:hover {
    text-decoration: underline;
  }
}

.reserve-link {
  text-transform: uppercase;
  color: #202D3A;
  border: solid 1px #202D3A;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px;

  &:hover {
    background-color: #dedede;
  }
}

.more-link {
  font-size: 1.4em;
  color: #425363;
  display: inline-flex;
  align-items: center;

  &:hover {
    span {
      text-decoration: underline;
    }
  }

  span {
    margin-right: 0.5em;
  }

  .fas {
    font-size: 25px;
  }
}

.grid {
  display: grid;
  grid-column-gap: 5px;
}

.area-1 {  grid-area: area-1; }
.area-2 {  grid-area: area-2; }
.area-3 {  grid-area: area-3; }
.area-4 {  grid-area: area-4; }
.area-5 {
  grid-area: area-5;

  .more-link {
    float: right;
  }
}
.area-6 {  grid-area: area-6; }
.area-7 {  grid-area: area-7; }
.area-8 {  grid-area: area-8; }
.area-9 {  grid-area: area-9; }
.area-10 {  grid-area: area-10; }
.area-11 {  grid-area: area-11; }
.area-12 {  grid-area: area-12; }
.area-13 {  grid-area: area-13; }
.area-14 {  grid-area: area-14; }
.area-15 {  grid-area: area-15; }
.area-16 {  grid-area: area-16; }
.area-17 {  grid-area: area-17; }
.area-18 {  grid-area: area-18; }
.area-19 {  grid-area: area-19; }
.area-20 {  grid-area: area-20; }
.divider-1 { grid-area: divider-1; }
.divider-2 { grid-area: divider-2; }
.divider-3 { grid-area: divider-3; }
.divider-4 { grid-area: divider-4; }
.divider-5 { grid-area: divider-5; }

.main-footer {
  height: 400px;
}

.main-content {
  padding-top: 103px;

  .image-1 {
    background-image: url("./images/1.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  .image-2 {
    background-image: url("./images/2.jpg");
  }

  .image-3 {
    background-image: url("./images/3.jpg");
  }

  .image-4 {
    background-image: url("./images/4.jpg");
  }

  .image-5 {
    background-image: url("./images/5.jpg");
  }

  .image-6 {
    background-image: url("./images/6.jpg");
  }

  .image-7 {
    background-image: url("./images/7.jpg");
  }

  .image-8 {
    background-image: url("./images/8.jpg");
  }

  .image-9 {
    background-image: url("./images/9.jpg");
  }

  .image-10 {
    background-image: url("./images/10.jpg");
  }

  .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10 {
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .main-header {
    height: 75px;
  }

  .grid {
    grid-template-columns: 100%;
    grid-template:
            "area-1"
            "area-2"
            "area-3"
            "area-4"
            "area-5"
            "area-6"
            "area-7"
            "area-8"
            "area-9"
            "area-10"
            "area-11"
            "area-12"
            "area-13"
            "area-14";
  }

  .divider-1, .divider-2, .divider-3, .divider-4 {
    display: none;
  }

  .main-content {
    padding-top: 80px;
  }

  .area-1 {
    .section-image {
      height: 280px;
    }
  }

  .area-4 {
    .section-image {
      height: 212px;
    }
  }

  .area-6 {
    .section-image {
      height: 212px;
    }
  }

  .area-7 {
    .section-image {
      height: 212px;
    }
  }

  .area-8 {
    .section-image {
      height: 212px;
    }
  }

  .area-10 {
    .section-image {
      height: 212px;
    }
  }

  .area-11 {
    .section-image {
      height: 212px;
    }
  }

  .area-12 {
    .section-image {
      height: 212px;
    }
  }

  .area-13 {
    .section-image {
      height: 212px;
    }
  }

  .area-14 {
    .section-image {
      height: 212px;
    }
  }

  .main-content {
    .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10 {
      background-position-y: center;
    }
  }

  h1 {
    font-size: 3.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 2.6em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-header {
    height: 75px;
  }

  .main-content {
    padding-top: 80px;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-template:
            "area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1"
            "area-2 area-2 area-2 area-2 area-2 area-2 area-2 area-2 area-3 area-3 area-3 area-3"
            "divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1"
            "area-4 area-4 area-4 area-4 area-4 area-4 area-4 area-5 area-5 area-5 area-5 area-5"
            "divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2"
            "area-6 area-6 area-6 area-6 area-6 area-6 area-7 area-7 area-7 area-7 area-7 area-7"
            "divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3"
            "area-9 area-9 area-9 area-9 area-9 area-8 area-8 area-8 area-8 area-8 area-8 area-8"
            "divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4"
            "area-10 area-10 area-10 area-10 area-11 area-11 area-11 area-11 area-12 area-12 area-12 area-12"
            "area-13 area-13 area-13 area-13 area-13 area-13 area-14 area-14 area-14 area-14 area-14 area-14";
  }

  .area-1 {
    .section-image {
      height: 438px;
    }
  }

  .area-4 {
    .section-image {
      height: 445px;
    }
  }

  .area-6 {
    .section-image {
      height: 244px;
    }
  }

  .area-7 {
    .section-image {
      height: 244px;
    }
  }

  .area-8 {
    .section-image {
      height: 445px;
    }
  }

  .area-10 {
    .section-image {
      height: 166px;
    }
  }

  .area-11 {
    .section-image {
      height: 166px;
    }
  }

  .area-12 {
    .section-image {
      height: 166px;
    }
  }

  .area-13 {
    .section-image {
      height: 244px;
    }
  }

  .area-14 {
    .section-image {
      height: 244px;
    }
  }

  .main-content {
    .image-2, .image-3, .image-4, .image-5, .image-6, .image-7, .image-8, .image-9, .image-10 {
      background-position-y: center;
    }
  }

  h1 {
    font-size: 3.4em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 2.6em;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-template:
            "area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1 area-1"
            "area-2 area-2 area-2 area-2 area-2 area-2 area-2 area-2 area-2 area-3 area-3 area-3"
            "divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1 divider-1"
            "area-4 area-4 area-4 area-4 area-4 area-4 area-4 area-4 area-4 area-5 area-5 area-5"
            "divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2 divider-2"
            "area-6 area-6 area-6 area-6 area-6 area-6 area-7 area-7 area-7 area-7 area-7 area-7"
            "divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3 divider-3"
            "area-9 area-9 area-9 area-8 area-8 area-8 area-8 area-8 area-8 area-8 area-8 area-8"
            "divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4 divider-4"
            "area-10 area-10 area-10 area-10 area-11 area-11 area-11 area-11 area-12 area-12 area-12 area-12"
            "area-13 area-13 area-13 area-13 area-13 area-13 area-14 area-14 area-14 area-14 area-14 area-14";
  }

  .area-1 {
    .section-image {
      height: 636px;
    }
  }

  .area-4 {
    .section-image {
      height: 600px;
    }
  }

  .area-6 {
    .section-image {
      height: 460px;
    }
  }

  .area-7 {
    .section-image {
      height: 460px;
    }
  }

  .area-8 {
    .section-image {
      height: 600px;
    }
  }

  .area-10 {
    .section-image {
      height: 315px;
    }
  }

  .area-11 {
    .section-image {
      height: 315px;
    }
  }

  .area-12 {
    .section-image {
      height: 315px;
    }
  }

  .area-13 {
    .section-image {
      height: 460px;
    }
  }

  .area-14 {
    .section-image {
      height: 460px;
    }
  }
}
