html, body {
  height: 100%;
}

body {
  font-size: 12px;
  background-color: #ffffff;
  font-family: Arial, SansSerif, Helvetica;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

h1, h3 {
  color: #202d3d;
  font-family: "Roboto Condensed";
}

h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #425363;
}

h3 {
  font-size: 24px;
}

p {
  color: #9a9aa6;
  font-family: "Roboto Condensed";
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-header {
  position: fixed;
  height: 103px;
  width: 100%;
  background-color: #ffffff;
}

.divider-bottom {
  border-bottom: solid 5px #e2e2e2;
}

.style-type-none {
  list-style-type: none;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #202e39;
}
.nav-link:hover {
  text-decoration: underline;
}

.main-footer {
  height: 400px;
}

.main-content {
  display: -ms-grid;
  display: grid;
  padding-top: 108px;
}
.main-content .image-1 {
  background-image: url("./images/1.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.main-content .image-2 {
  background-image: url("./images/2.jpg");
}
.main-content .image-3 {
  background-image: url("./images/3.jpg");
}
.main-content .image-4 {
  background-image: url("./images/4.jpg");
}
.main-content .image-5 {
  background-image: url("./images/5.jpg");
}
.main-content .image-6 {
  background-image: url("./images/6.jpg");
}
.main-content .image-7 {
  background-image: url("./images/7.jpg");
}
.main-content .image-8 {
  background-image: url("./images/8.jpg");
}
.main-content .image-9 {
  background-image: url("./images/9.jpg");
}
.main-content .image-10 {
  background-image: url("./images/10.jpg");
}
.main-content .image-2, .main-content .image-3, .main-content .image-4, .main-content .image-5, .main-content .image-6, .main-content .image-7, .main-content .image-8, .main-content .image-9, .main-content .image-10 {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .main-content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .main-section-image {
    height: 280px;
  }

  .section-image {
    height: 212px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section-image {
    height: 435px;
  }

  .section-image {
    height: 212px;
  }
}
@media screen and (min-width: 1200px) {
  .main-content {
    margin: 0 auto;
    -ms-grid-columns: 16% 5px 8% 5px 8% 5px 16% 5px 16% 5px 8% 5px 8% 5px 16%;
    grid-template-columns: 16% 8% 8% 16% 16% 8% 8% 16%;
    grid-column-gap: 5px;
  }

  .main-section-image {
    height: 633px;
  }

  .section-image {
    height: 589px;
  }

  .section-1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 16;
    grid-column-end: 10;
  }

  .section-2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 11;
    grid-column-end: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  .section-3 {
    -ms-grid-column: 12;
    grid-column-start: 7;
    -ms-grid-column-span: 5;
    grid-column-end: 10;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  .section-4-divider {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 16;
    grid-column-end: 10;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }

  .section-4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
  .section-4 .section-image {
    height: 455px;
  }

  .section-5 {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 5;
    grid-column-end: 10;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
  .section-5 .section-image {
    height: 455px;
  }

  .section-6-divider {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
    -ms-grid-row: 5;
    grid-row-start: 5;
  }

  .section-6 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 7;
    grid-column-end: 10;
    -ms-grid-row: 6;
    grid-row-start: 6;
  }
  .section-6.section-image {
    height: 580px;
  }

  .section-7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 6;
    grid-row-start: 6;
  }

  .section-8-divider {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
    -ms-grid-row: 7;
    grid-row-start: 7;
  }

  .section-8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 8;
    grid-row-start: 8;
  }

  .section-9 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 8;
    grid-row-start: 8;
  }

  .section-10 {
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-column-span: 4;
    grid-column-end: 10;
    -ms-grid-row: 8;
    grid-row-start: 8;
  }

  .section-8 .section-image, .section-9 .section-image, .section-10 .section-image {
    height: 314px;
  }

  .section-11 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 10;
    grid-row-start: 10;
  }

  .section-12 {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 5;
    grid-column-end: 10;
    -ms-grid-row: 10;
    grid-row-start: 10;
  }

  .section-11 .section-image, .section-12 .section-image {
    height: 455px;
  }
}

/*# sourceMappingURL=style.css.map */
